<div class="card">
    <div class="card-header card-header-danger">
        <h3 class="card-title text-center">Bienvenido</h3>

    </div>
</div>


<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header card-header-primary">
                <div class="row">
                    <div class="col-md-6">
                        <h4 class="card-title">Tours</h4>
                        <p class="card-category">Top 3 de los tours mas recientes</p>
                    </div>

                    <div class="col-md-6 text-right">
                        <button [routerLink]="['/panel/tour/createdit']" mat-raised-button type="button" matTooltip="Nuevo tour" [matTooltipPosition]="'above'" class="btn btn-secondary btn-link  btn-just-icon ">
              <i class="fas fa-1x fa-plus-square"></i>
            </button>
                    </div>
                </div>
            </div>

            <div class="row">
                <div *ngFor="let tour of tours_completos" class="col-4">
                    <ng-container *ngIf="tour">
                        <app-detalle-tour [data]="tour" ></app-detalle-tour>
                    </ng-container>  
                </div>
            </div>
            <!--
            <div class="card-body table-responsive">
                <table class="table table-hover">
                    <thead class="text-warning">
                        <th>Nombre</th>
                        <th>Descripción</th>
                        <th>Destino</th>
                        <th>Lugar</th>
                        <th>Activo</th>
                        <th>Opciones</th>
                    </thead>
                    <tbody>
                        <tr *ngFor="let tour of tours">
                            <td>{{tour.nombre}}</td>
                            <td>{{tour.descripcion}}</td>
                            <td>{{tour.destino}}</td>
                            <td>{{tour.lugar}}</td>
                            <td>{{tour.activo ? 'Si' : 'No'}}</td>
                            <td class="td-actions ">
                               
                                <a mat-raised-button [routerLink]="['tour/createdit/',tour.id]" type="button" matTooltip="Actualizar datos" [matTooltipPosition]="'above'" class="btn btn-primary btn-link btn-sm btn-just-icon">
                                    <i class="material-icons">edit</i>
                                </a>
                                <a mat-raised-button type="button" (click)="verDetalleTour(tour.id)" data-toggle="modal" data-target="#detalleTour" matTooltip="Ver detalle" [matTooltipPosition]="'above'" class="btn btn-primary btn-link btn-sm btn-just-icon">
                                    <i class="material-icons">remove_red_eye</i>
                                </a>
                            </td>
                        </tr>

                    </tbody>
                </table>
            </div>-->
        </div>
    </div>


    <div class="col-md-12">
        <div class="card">
            <div class="card-header card-header-warning">

                <div class="row">
                    <div class="col-md-6">
                        <h4 class="card-title">Destinos</h4>
                        <p class="card-category">Top 5 de los destinos mas recientes</p>
                    </div>

                    <div class="col-md-6 text-right">
                        <button [routerLink]="['/panel/destino/createdit']" mat-raised-button type="button" matTooltip="Nuevo tour" [matTooltipPosition]="'above'" class="btn btn-secondary btn-link  btn-just-icon ">
              <i class="fas fa-1x fa-plus-square"></i>
            </button>
                    </div>
                </div>

            </div>
            <div class="card-body table-responsive">
                <table class="table table-hover">
                    <thead class="text-warning">
                        <th>Nombre</th>
                        <th>Encabezado</th>
                        <th>Lugar</th>
                        <th>Valoracion</th>
                        <th>Opciones</th>
                    </thead>
                    <tbody>
                        <tr *ngFor="let destino of destinos">
                            <td>{{destino.nombre}}</td>
                            <td>{{destino.encabezado}}</td>
                            <td>{{destino.lugar}}</td>
                            <td>{{destino.valoracion}}</td>
                            <td class="td-actions ">
                                <!--
                                <a mat-raised-button [routerLink]="['createdit/',destino.id]" type="button" matTooltip="Actualizar datos" [matTooltipPosition]="'above'" class="btn btn-primary btn-link btn-sm btn-just-icon">
                                    <i class="material-icons">edit</i>
                                </a>-->
                                <a mat-raised-button type="button" (click)="verDetalleDestino(destino.id)" data-toggle="modal" data-target="#detalleDestino" matTooltip="Ver detalle" [matTooltipPosition]="'above'" class="btn btn-primary btn-link btn-sm btn-just-icon">
                                    <i class="material-icons">remove_red_eye</i>
                                </a>
                            </td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


<!-- Modal Destino -->
<div class="modal fade" id="detalleDestino" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content" *ngIf="selected_destino">            
            <div class="animated fadeIn modal-body ">
                <ng-container *ngIf="selected_destino">
                    <app-detalle-destino [data]="selected_destino" ></app-detalle-destino>
                </ng-container>   
                <div class="row text-right">
                    <div class="col-md-12">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>
<!--End modal detalle Destino-->

<!-- Modal Detalle Tour-->
<div class="modal fade" id="detalleTour" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content" *ngIf="selected_tour">
            <div class="animated fadeIn modal-body ">
                <ng-container *ngIf="selected_tour">
                    <app-detalle-tour [data]="selected_tour" ></app-detalle-tour>
                </ng-container>  
                <div class="row text-right">
                    <div class="col-md-12">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>